<div class="user-profile__avatar" title={{user.realName}}>
  <img src={{user.image192}} width="96" height="96" alt="">
</div>
<div class="user-profile__username" title={{user.name}}>
  {{user.name}}
</div>
<div class="user-profile__realname" title={{user.realName}}>
  {{user.realName}}
</div>
