<nav class="nav {{if navExpanded 'nav--expanded'}}">
  <ul class="navbar navbar--left">
    <li>{{link-to 'Team Time Zone' 'index' class="navbar__brand"}}</li>
  </ul>

  <div class="navbar navbar--toggle">
    <button class="button" {{action 'toggleNavbar'}}></button>
  </div>

  <ul class="navbar navbar--right {{if navExpanded 'navbar--secondary'}}">
    {{outlet 'navbar'}}
    <li>
      {{link-to 'About' 'about'}}
    </li>

    {{#if session.isAuthenticated}}
      <li>
        <button {{action 'invalidateSession'}}>Logout</button>
      </li>
    {{else}}
      <li>
        {{link-to 'Login' 'login'}}
      </li>
    {{/if}}
  </ul>
</nav>

<div class="main-content">
  {{outlet}}
</div>
